:root {
  --first-color: #eaf6f6;
  --second-color: #acc6aa;
  --third-color: #71a0a5;
  --fourth-color: #77628c;
  --blackish-color: #323643;
  --whitish-color: #eeeeee;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dosis", sans-serif;
}

body {
  background: var(--whitish-color);
  padding-top: 80px;
}

footer {
  font-family: var(--primary-font);
  color: var(--fourth-color);
}

h4 {
  font-size: 38px;
}

/*target the greeting message stored in a div */
.hero {
  background-color: var(--second-color);
  text-align: center;
  padding: 60px 60px;
  /*margin auto centered the div, it stopped being centered once i changed the width */
  margin: auto;
  width: 700px;
  border-radius: 10px;
}

/* target the h1 (my name) in hero div */
.hero h1 {
  color: var(--blackish-color);
  font-family: var(--primary-font);
  font-size: 78px;
}

/*target the h2 Hi I am */
.hero h2 {
  font-family: var(--secondary-font);
  font-size: 30px;
}

/*target the h3 based in on hero div */
.hero h3 {
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

/* target the link buttons as a whole */
.link-buttons {
  padding-top: 20px;
  text-transform: capitalize;
}

/* target each link button */
.link-buttons a {
  border: 1px solid var(--third-color);
  background-color: var(--first-color);
  color: var(--fourth-color);
}

.link-buttons a:hover,
.btn-branding:hover {
  color: var(--first-color);
  background-color: var(--third-color);
}

/*target the col with words not image as a whole */
#descriptions {
  text-align: center;
}

/* div the button is inside */
.launch-buttons {
  text-align: center;
}
/*target the launch buttons */
.btn-branding {
  border: 1px solid var(--third-color);
  background-color: var(--first-color);
  color: var(--fourth-color);
  font-family: var(--primary-font);
}

/* target paragraphs about projects on homepage */
.project-description {
  font-family: var(--secondary-font);
}

/* target the project titles on homepage*/
.project-title {
  font-family: var(--primary-font);
  text-transform: capitalize;
}

/*target space between rows on index */
.row {
  padding: 30px 0;
}
/*target images on index page */
.col-sm-6 img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}
.about-content {
  font-family: var(--secondary-font);
}

.about-name {
  font-family: var(--primary-font);
  font-size: 50px;
}

.content-inner h3 {
  font-family: var(--primary-font);
  font-size: 22px;
  font-weight: normal;
  margin: 20px 0 0;
  line-height: 1.5;
}

.content-inner h1 {
  font-family: var(--primary-font);
  font-size: 50px;
  font-weight: normal;
}

.content-inner p {
  font-family: var(--secondary-font);
  font-size: 14px;
}

.col-md-3 img:hover {
  transform: scale(2);
  cursor: zoom-in;
  padding: 20px 20px;
}

.contact-page {
  text-align: center;
}

.contact-page h1 {
  font-family: var(--primary-font);
}

.contact-page h2,
h3 {
  font-family: var(--secondary-font);
  font-size: 22px;
}

#navbarNav a,
.navbar-brand {
  color: var(--third-color);
  text-transform: capitalize;
}
#navbarNav a:hover,
.navbar-brand:hover,
#navbarNav li a.active {
  color: var(--fourth-color);
}

#icon-links a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 22px;
  color: var(--fourth-color);
  padding: 10px 14px;
  border-radius: 50%;
  background: var(--first-color);
}

#icon-links a:hover {
  color: var(--whitish-color);
  background: var(--fourth-color);
}

#project-h1,
.project-header {
  color: var(--blackish-color);
}

.this-project {
  border: 2px solid #77628c;
  border-radius: 4px;
  max-width: 700px;
  font-size: 20px;
  font-family: var(--primary-font);
  padding: 20px 20px;
  margin: auto;
  background-color: #71a0a5;
  color: var(--blackish-color);
  line-height: 1;
}

#this-project-info {
  font-family: var(--secondary-font);
  font-size: 16px;
}
footer .contact-box {
  background-color: var(--second-color);
  padding: 30px 120px;
  border-radius: 10px;
}
/* this was the only way to remove horizontal scrolling in mobile view on about */
html,
body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

/* target changes made when screen is small*/
@media (max-width: 576px) {
  footer .contact-box {
    margin-top: 30px;
    padding: 25px;
    width: 400px;
  }

  h4 {
    font-size: 18px;
  }
  #descriptions {
    display: block;
    text-align: center;
  }

  .row {
    padding: 0;
  }

  .hero {
    width: 400px;
    margin: auto;
  }
  .hero h1 {
    font-size: 36px;
  }
  .hero h2 {
    font-size: 20px;
  }

  .hero h3 {
    font-size: 16px;
  }

  .link-buttons {
    padding-top: 2px;
  }
  .link-buttons a {
    font-size: 12px;
  }
  .btn-branding {
    font-size: 12px;
    margin: auto;
  }

  .vrg {
    margin-top: 10px;
  }

  .about-section {
    text-align: center;
    padding: 0;
    margin: auto;
  }
}
