:root {
  --first-color: #eaf6f6;
  --second-color: #acc6aa;
  --third-color: #71a0a5;
  --fourth-color: #77628c;
  --blackish-color: #323643;
  --whitish-color: #eeeeee;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Dosis", sans-serif;
}

body {
  background: var(--whitish-color);
  padding-top: 80px;
}

footer {
  font-family: var(--primary-font);
  color: var(--fourth-color);
}

/*target the greeting message stored in a div */
.hero {
  background-color: var(--second-color);
  text-align: center;
  padding: 60px 60px;
  /*margin auto centered the div, it stopped being centered once i changed the width */
  margin: auto;
  width: 700px;
  border: 2px solid var(--blackish-color);
}

/* target the h1 (my name) in hero div */
.hero h1 {
  color: var(--blackish-color);
  font-family: var(--primary-font);
  font-size: 78px;
}

/*target the h2 Hi I am */
.hero h2 {
  font-family: var(--secondary-font);
  font-size: 30px;
}

/*target the h3 based in on hero div */
.hero h3 {
  font-family: var(--secondary-font);
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

/* target the link buttons as a whole */
.link-buttons {
  padding-top: 20px;
  text-transform: capitalize;
}

/* target each link button */
.link-buttons a {
  border: 1px solid var(--third-color);
  background-color: var(--first-color);
  color: var(--fourth-color);
}

/*target the col with words not image as a whole */
#descriptions {
  text-align: center;
}

/*target the launch buttons */
.btn-branding {
  border: 1px solid var(--third-color);
  background-color: var(--first-color);
  color: var(--fourth-color);
  font-family: var(--primary-font);
}

/* target paragraphs about projects on homepage */
.project-description {
  font-family: var(--secondary-font);
}

/* target the project titles on homepage*/
.project-title {
  font-family: var(--primary-font);
  text-transform: capitalize;
}

/*target space between rows on index */
.row {
  padding: 30px 0;
}
/*target images on index page */
.col-sm-6 img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}
.about-content {
  font-family: var(--secondary-font);
}

.about-name {
  font-family: var(--primary-font);
}

/* this was the only way to remove horizontal scrolling in mobile view on about */
html,
body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

/* target changes made when screen is small*/
@media (max-width: 576px) {
  #descriptions {
    display: block;
    text-align: center;
  }

  .row {
    padding: 0;
  }

  .hero {
    width: 400px;
    margin: auto;
  }
  .hero h1 {
    font-size: 36px;
  }
  .hero h2 {
    font-size: 20px;
  }

  .hero h3 {
    font-size: 16px;
  }

  .link-buttons {
    padding-top: 2px;
  }
  .link-buttons a {
    font-size: 12px;
  }
  .btn-branding {
    font-size: 12px;
    margin: auto;
  }

  .vrg {
    margin-top: 10px;
  }

  .about-section {
    text-align: center;
    padding: 0;
    margin: auto;
  }
}

/*text-transform: capitalize; for the nav buttons */
